* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

/* Text Modifiers */
.text-upper {
  text-transform: uppercase; }

.text-capital {
  text-transform: capitalize; }

.wrapper {
  background-image: url(../img/evidence-bg-image.png);
  background-position: top;
  background-size: cover;
  height: 98vh;
  display: grid;
  grid-template-rows: 1fr 2fr 7fr 2fr; }

.top-links {
  display: grid;
  grid-template-columns: 7fr 5fr; }

.top-links-inner-blue {
  background-color: blue;
  color: white;
  padding-left: 6rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold; }

.top-links-inner-blue a {
  text-decoration: none;
  color: white; }

.top-links-inner-blue .grid-item-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.top-links-inner-blue .grid-item-2 {
  padding-left: 7rem;
  font-size: 1.8rem; }

.top-links-inner-grey {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr 2fr;
  background-color: grey;
  justify-items: end;
  padding-right: 2rem; }

.top-links-inner-grey div {
  display: flex;
  align-items: center; }

.internal-top {
  color: white;
  font-size: 1.2rem;
  font-weight: bold; }

.internal-top:hover {
  cursor: pointer; }

/*.internal-top .dropdown-menu {
  background-color: grey;
  color: white;
}

.internal-top ul li:hover {
  background-color: grey !important;
}*/
.tnav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 6rem;
  padding-right: 6rem;
  align-items: center; }

.tnav-links-inner {
  padding-top: 1rem; }

.tnav-links-inner a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700; }

.page-heading {
  padding-left: 6rem;
  padding-top: 3rem; }

.page-heading h1 {
  color: white;
  font-size: 7.6rem;
  font-weight: bolder;
  margin-bottom: 0; }

.page-heading p {
  color: white;
  font-size: 2.2rem;
  max-width: 32%;
  margin-bottom: 5rem; }

.bnav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 6rem;
  padding-top: 3rem; }

.bnav-links .bnav-links-inner a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700; }

.bnav-links .bnav-links-inner a:hover {
  border: 0.2rem solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 0.5rem; }

.bnav-links .bnav-links-inner a:active {
  border: 0.2rem solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 0.5rem; }

.advantage {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.advantage-text {
  background-color: #6610f2;
  color: #fff;
  padding: 15rem 10rem; }

.advantage-text h2 {
  max-width: 70%;
  font-size: 3.2rem;
  font-weight: bold; }

.advantage-image img {
  max-width: 100%;
  min-height: 100%; }

.specs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 8rem; }

.spec-internal-out {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem; }

.spec-internal-in {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
  align-items: center; }

.spec-text {
  width: 92%;
  font-size: 2.2rem;
  font-weight: bolder;
  line-height: 1.5; }

.tab-section {
  max-width: 40%;
  font-weight: bold;
  padding-left: 6rem; }

.grid-wrapper {
  display: grid;
  grid-template-rows: 5fr 2fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 6rem;
  padding-right: 6rem;
  grid-gap: 0.1rem; }

.grid-row-large {
  display: grid;
  grid-template-columns: 3fr 9fr; }

.grid-rows {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 2rem; }

.cols {
  background-color: blue;
  opacity: 0.7; }

.more-info {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 5fr 1fr 1fr;
  padding-top: 10rem;
  padding-bottom: 10rem;
  align-items: center; }

.more-info-desc {
  margin-right: 8rem;
  align-self: center; }

.more-info-text {
  font-size: 2.2rem;
  font-weight: 100; }

.bton {
  border: 0.2rem solid blue;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700; }

.bton-group {
  align-self: center; }

.bton-group :first-child {
  background-color: blue;
  color: #fff; }

.bton-group :last-child {
  color: blue; }

.left-bk {
  height: 30.8rem;
  width: 5rem;
  border: 0.2rem solid grey;
  border-right: 0;
  margin-right: -20rem; }

.right-bk {
  height: 30.8rem;
  width: 5rem;
  border: 0.2rem solid grey;
  border-left: 0;
  margin-left: 4rem; }

.rec-pattern img {
  height: 30.8rem; }

.pattern-right {
  transform: rotate(180deg); }

.new-trials {
  background-color: blue;
  height: 30rem;
  text-align: center;
  vertical-align: middle;
  display: grid;
  grid-template-rows: 1fr; }

.new-trials a {
  text-decoration: none;
  margin: auto; }

.spanner-one {
  font-size: 2.4rem;
  font-weight: 200;
  color: #fff; }

.spanner-two {
  font-size: 2.4rem;
  font-weight: bolder;
  color: #fff; }

.bibliography {
  margin: 10rem;
  line-height: 2.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: grey; }

.footer {
  display: grid;
  grid-template-columns: 12fr;
  background-color: #1b1b1b;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem; }

.footer__internal--support {
  display: grid;
  grid-template-columns: 5fr 7fr;
  color: #fff;
  padding-bottom: 5rem; }

.support-link {
  font-size: 1.2rem;
  font-weight: bold; }

.support-sublinks {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold; }

hr {
  border: 1px solid #fff; }

.footer__nav--links {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 10rem;
  color: #fff;
  padding-top: 5rem; }

.footer__nav-head {
  font-size: 1.6rem; }

.footer__nav-desc {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.5;
  padding-top: 1rem;
  text-align: justify; }

.website-link {
  text-align: center; }

.contact-links a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding-bottom: 3rem;
  font-weight: bold; }

.learn-btn {
  display: inline-block;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  margin-top: 1rem;
  font-weight: bold; }

.disclaimer {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.disclaimer-head {
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff; }

.disclaimer-desc {
  padding-top: 5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2;
  text-align: justify; }

.disclaimer-desc a {
  text-decoration: underline;
  color: #fff; }

.misc {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.misc-links {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding-right: 2rem; }
